/.bundle

/log/*
/tmp/*

/storage/*

/node_modules
/yarn-error.log

/public/assets

/config/master.key

/config/application.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
