#booking_team_id {
  text-align-last: center;
}
.booking-modal {
  .time-field, .price-field, .date-field {
    font-size: 14px;
    background: #eeeeee;
    cursor: default;
  }
  label {
    margin-bottom: 0.2rem;
    font-weight: 500;
  }
  #booking-btn {
    margin-bottom: 0.5rem;
  }
}
