@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif !important;
  padding: 0;
  background: $body !important;
}
label {
  font-weight: bold;
  font-size: 14px;
}
a {
  text-decoration: none !important;
}
.fas {
  margin-right: 0.5rem;
}
.table-custom th, .table-custom td {
  vertical-align: unset !important;
}
.require {
  color: $error;
}
.alert {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
#notification-error {
  font-size: 13px;
  color: $error;
}
.custom-tabs {
  display: unset;
  border: none;
  .nav-link {
    border: 1px solid $border;
    border-radius: 0.25rem;
    transition: 0.3s;
    font-size: 15px;
    color: #6c757d;
    text-align: center;
  }
  .nav-link.active, .nav-link:hover {
    border: 1px solid purple;
    color: purple;
  }
}
.btn-outline-black {
  border: 1px solid $border;
  color: #6c757d;
  transition: all 0.3s;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: purple;
    border: 1px solid purple;
  }
}
.form-control {
  transition: 0.5s;
  &:focus {
    box-shadow: none !important;
    border-color: purple;
  }
}
