#form {
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('bglock.jpg');
  .login-social {
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    img {
      width: 3rem;
      height: auto;
      border-radius: 50%;
    }
    .fb {
      margin-right: 1.5rem;
    }
    .google {
      margin-left: 1.5rem;
    }
  }
  .form-content {
    padding: 1.5rem 3rem 2rem 3rem;
    background: white;
    border-radius: 10px;
    width: 75%;
    .remember-forgot {
      display: flex;
      justify-content: space-between;
    }
  }
  .form-content-2 {
    padding: 3rem 1rem;
    background: white;
    border-radius: 10px;
    .title-custom {
      color: $nav;
      font-size: 18px;
      padding-right: 9rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: -30px;
    }
    .title-custom::after {
      content: "";
      width: 7rem;
      height: 19px;
      background: $nav;
      position: absolute;
      right: 15px;
      top: 35%;
    }
  }
  .review {
    color: white;
    .title {
      font-weight: bold;
      margin-bottom: 4rem;
    }
    .fas {
      color: $nav;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    strong {
      color: $nav;
    }
  }
  .group-errors {
    display: flex;
    label {
      margin-right: 1rem;
    }
  }
}
.link-devise {
  margin-bottom: 2rem;
}
