.pagination {
  display: flex;
  align-items: center;
  font-size: 14px;
  .page a, .first a, .last a {
    padding: 0.3rem 0.8rem;
  }
  .prev, .next, .gap {
    display: none;
  }
  .current {
    padding: 0.3rem 0.8rem;
    color: purple;
    border: 1px solid purple;
    border-radius: 0.25rem;
  }
}
