.cover-form {
  border: 1px solid $border;
  padding: 1.5rem;
}
.component-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-pitch {
  padding: 1rem;
  background: #f8f9fa;
  margin-top: 1.5rem;
  label {
    margin: 0;
    font-weight: 500;
  }
  a {
    color: #6c757d;
    &:hover {
      color: purple;
    }
  }
}
#sub_pitch_sub_pitch_type_id {
  text-align: center;
}
