.team-pages {
  font-size: 14px;
  padding: 1rem;
  margin: 1.5rem 0;
  background: white;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  .team-logo-index {
    width: 50px;
    height: 50px;
    object-fit: center;
    border-radius: 0.25rem;
  }
  .table th, .table td {
    vertical-align: unset;
  }
}
