input[type=time]::-webkit-datetime-edit-hour-field, input[type=time]::-webkit-datetime-edit-minute-field, input[type=time]::-webkit-datetime-edit-ampm-field {
  border-radius: 0.15rem;
  padding: 0 0.5rem;
  color: black;
}
input[type=time]::-webkit-inner-spin-button {
  display: none;
}
th.price {
  width: 33%;
}
th.action {
  width: 17%;
}
th.time {
  width: 25%;
}
td .link-action {
  margin: 0 1rem;
  color: #6c757d;
}
.form-timeline {
  border: 1px solid $border;
  border-bottom: none;
  padding: 1rem;
}
.timesheet-component {
  .sub-pitch-name {
    margin-bottom: 0.25rem;
    margin-top: 0.8rem;
    font-weight: bold;
    color: $nav;
  }
  .price {
    font-size: 11px;
    color: #6c757d;
  }
  .time {
    color: #6c757d;
    font-size: 14px;
  }
  .pitch-btn-booking, .booking-none-login {
    border: 1px solid $border;
    padding: 0.3rem 0.9rem;
    margin: 0.25rem;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background: #e9ecef;
    }
  }
  .timesheet-close {
    background: #e9ecef;
    cursor: default;
  }
  .cant-booking-today {
    border-color: $error;
    .time, .price {
      color: $error;
    }
  }
}
