<ul class="nav nav-tabs custom-tabs">
  <div class="row">
    <div class="col-md-4">
      <li class="nav-item">
        <%= link_to t(".forgot"), new_password_path(resource_name),
          class: "nav-link #{"active" if current_page? new_user_password_path}" %>
      </li>
    </div>
    <div class="col-md-4">
      <li class="nav-item">
        <%= link_to t(".confirmation"), new_confirmation_path(resource_name),
          class: "nav-link #{"active" if current_page? new_user_confirmation_path}" %>
      </li>
    </div>
    <div class="col-md-4">
      <li class="nav-item">
        <%= link_to t(".unlock"), new_unlock_path(resource_name),
          class: "nav-link #{"active" if current_page? new_user_unlock_path}" %>
      </li>
    </div>
  </div>
</ul>
