<div class="group-spin-text">
  <% if pitch.active %>
    <div class="circle-active"></div>
    <div class="active"><%= t ".active" %></div>
  <% else %>
    <div class="circle-unactive"></div>
    <div class="unactive"><%= t ".unactive" %></div>
  <% end %>
</div>
