<% if @timesheets.present? %>
  <%= render "table", timesheets: timesheets, placed: placed, pitch: pitch %>
<% else %>
  <div class="container"><div class="none-booking"><%= t ".none_time" %></div></div>
<% end %>
