<div class="table-responsive">
  <table class="table table-bordered">
    <tr class="text-center">
      <% timesheets.keys.each do |sub_pitch| %>
        <th><%= sub_pitch[0] %></th>
      <% end %>
    <tr>
    <% timesheets.values.map{|x| x.size}.max.times do |i| %>
      <tr>
        <% timesheets.values.each do |timesheet| %>
          <td>
            <% if timesheet[i].present? %>
              <div class="row-timesheet">
                <div><%= timesheet[i].full_time %></div>
                <% if placed.present? && placed[timesheet[i].id].present? %>
                  <div><%= link_to t(".placed"), "javascript:", class: "text-danger btn-edit-booking",
                    "data-id": "#{timesheet[i].id}", "data-pid": "#{pitch.id}" %></div>
                <% end %>
                <div><%= link_to t(".booking"), "javascript:", class: "text-success btn-show-booking-form",
                  "data-id": "#{timesheet[i].id}", "data-pid": "#{pitch.id}" %></div>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
